body{
    background: gainsboro;
    font-family: fantasy;
    font-size: 14px;
        
}
.bl-background {
    padding-top: 50px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.bl-list {
    background: white;
    width: 60%;
    display: inline-block;
    flex-grow: 1;
    margin: 2px;
    min-width: 500px;
    border-radius: 10px;
    height: auto;
    box-sizing: border-box;
}
.bl-row{
    width:auto;
    margin: 1px;
    height: auto;
}
.bl-find {
    width: auto;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 10px;
}

.bl-inputtext{
    
    border-radius: 10px;
    width: 60%;
    vertical-align: top;
    text-align: left;
    height: 30px;    
    font-size: 20px;
    display: inline-block;
    outline: 0;
}
.button-primary {
    width: 100px;
    background-color: darkcyan;
    color: #FFF;
    text-align: center;
    appearance: button;
    height: 36px;
    cursor: pointer;
    border-radius: 10px; 
    display: inline-block;
    outline: 0;
}
.bl-mainrow {
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}
.bl-inner {
    display: flex;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 10px;
}
.bl-product {
    width: 33%;
    margin: 1px;
    
    
}
#product{
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.bl-count {
    width: 20%;
    margin: 1px;
    
    vertical-align: middle;
    
    line-height: 1px;
    font-size: 14px;
    
}

/*Кнопки*/
.minus-button{
    margin-top: 4px;
    margin-left: 8px;
    background-color: #DB2828;
    color: #FFF;
    border-radius: 100px;   
    padding: 1em 1em 1.15em;
    cursor: pointer;
    outline: 0;
    line-height: 1px;
    text-align: center;
    overflow: visible;
}
.minus-icon{
    font-family: Icons;
}
/*Кнопки*/
.bl-label{
    line-height: 0.9;
    background-color: #E8E8E8;
    padding: 5px 5px;
    color: rgba(0,0,0,.6);
    border-radius: 3px;
    text-align: center;
}
/*Кнопки*/
.plus-button{
    background-color: #21BA45;
    color: #FFF;
    border-radius: 100px;
    padding: 1em 1em 1.15em;
    cursor: pointer;
    outline: 0;
    text-align: center;
    overflow: visible;
    line-height: 1px;
}
.plus-icon{
    font-family: Icons;
}
.bl-buttons {
    width: 49%;
    margin: 1px;
    font-size: 14px;
    text-align: right;
}
.buy-button{
    width: 30%;
    cursor: pointer;
    box-shadow: 0 -.3em 0 0 rgba(34,36,38,.15) inset;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
    background: linear-gradient(transparent,rgba(0,0,0,.05)) #F8F8F8;
    color: rgba(0,0,0,.6);
    padding: 1em 1em 1.15em;
    text-align: center;
    border-radius: .4em;
    box-sizing: inherit;
}
.delete-button{
    margin-right: 2px;
    width: 10%;
    box-shadow: 0 -.3em 0 0 rgba(34,36,38,.15) inset;
    background-color: #DB2828;
    color: #FFF;
    padding: 1em 1em 1.15em;
    cursor: pointer;
    outline: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: .4em;
    box-sizing: inherit;
}
.tooltip{
     opacity: 0.8;
    position: fixed;
    width: 100px;
    height: 20px;
    font-size: 14px;
    border-width: 5px;
    visibility: hidden;
    border-radius: 10px;
    background-color:cornflowerblue;
    z-index: 1;
    text-align: center;
}
.delete-button:hover .tooltip{
    visibility: visible;
}
.bl-bought {
    width: 39%;
    background: white;
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
    margin: 2px;
    border-radius: 10px;
}
.bl-title{
    position: relative;
    height: 40px;
    border: 1px solid rgba(34,36,38,.15);
    margin: 1px;
    border-radius: 10px;
    width: auto;
    background: #FFF;
    box-sizing: inherit;
    display: block;
    text-align: center;
}
.bl-notbought{
    text-align: center;
    position: relative;
    display: inline-block;
}

.stats-bought{
    height: 40px;
    box-sizing: inherit;
    display: block;
}

.stats-label{
    font-size: 10px;
    display: inline-block;
    vertical-align: baseline;
    
}
.label-count{
    font-size: 7px;
    min-width: 2em;
    min-height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 100px;
    background-color: #F2711C;
    color: #FFF;
    display: inline-block;
}


.badge{
    text-align: center;
    background-color: aqua;
    position:fixed;
    bottom:	-80px;
    left: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.badge:hover{
    background-color:cornflowerblue;
    bottom:0px;
    transition-duration:1s;
}
@media print{
    .badge{
        text-align: center;
        background-color: white;
        position:fixed;
        bottom:	0px;
        left: 60px;
        border: 1px solid rgba(34,36,38,.15);
        
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .p-buy{
        display: none;
    }
}
